{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="text-center mt-3">Spotiflux</h1>
    <a class="d-block mx-auto mt-3 btn btn-primary" href={{ path('app_login')}}>Se connecter</a>
</div>
{% endblock %}
